*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 940px;
    margin: 0 auto;   
}
/* navbar */
nav{
    margin-bottom: 60px;
    margin-top: 40px;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul li{
    display: inline-block;
    margin-left: 60px;
}
ul li:nth-child(1){
    margin-left: 17%;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
    font-weight: bold;
}

.logo{
    float: left;
}
span{
    font-size: 12px;
}

/* Contact */
.contact{
    margin-top: 70px;
}
.contactCol{
    display: grid;
    grid-template-columns: 1.5fr .5fr;
}
.contactCol1{
   
}
.contactCol1 h1{
    margin: 10px 0px;
}
.contactCol1 p{
    margin-bottom: 30px;
}
input{
    display: block;
    padding: 6px 8px;
    width: 30%;
    margin-top: 10px;
    font-weight: bold;
}
textarea{
    width: 70%;
    margin-top: 10px;
    font-weight: bold;
}
.submitBtn{
    font-weight: bold;
    margin-top: 10px;
}
.contactCol2{
 margin-top: 40px;
}
.contactCol2{
    margin-left: 40px;
}
.contactCol2 p{
    margin-bottom: 10px;
}
.bold{
    font-weight: bold;
}
span{
    color: #999999;
}
/* footer */
footer {
    background-color: #f8f8f8;
    height: 70px;
    line-height: 70px;
    text-align: center;
    
}
footer .container{
    display: flex;
}
footer .container p:last-child
{
    margin-left: 20%;
}